<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="/css/login.css">

</head>

<body>

	<div class="login-container">
		<h1>ログイン</h1>

		<div th:if="${message}" th:text="${message}" style="color:red;"></div>

		<form th:action="@{/login}" th:object="${loginForm}" method="post">

			<label for="loginId">ログインID</label>
			<input type="text" id="loginId" th:field="*{loginId}" th:classappend="${message} ? 'input-error'">

			<label for="password">パスワード</label>
			<input type="password" id="password" th:field="*{password}" th:classappend="${message} ? 'input-error'">

			<button type="submit">ログイン</button>

		</form>
	</div>
	<script th:src="@{/js/login.js}"></script>

</body>

</html>