<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>タスク一覧画面</title>
    <link rel="stylesheet" href="/css/taskList.css">
    <link rel="stylesheet" href="/css/common.css">

</head>

<body>
    <div class="container">
        <h2>タスク一覧</h2>

        <div class="top-bar">
            <button type="button" onclick="openLogoutModal()">
                ログアウト
            </button>
        </div>

        <form method="get" action="/taskList">
            <input type="hidden" name="page" value="0">
            <table>
                <thead>
                    <tr>
                        <th>
                            <div>状態</div>
                            <select name="status" onchange="changeStatus(this)">
                                <option value="">すべて</option>
                                <option value="未着手" th:selected="${status == '未着手'}">未着手</option>
                                <option value="着手中" th:selected="${status == '着手中'}">着手中</option>
                                <option value="注意" th:selected="${status == '注意'}">注意</option>
                                <option value="遅延" th:selected="${status == '遅延'}">遅延</option>
                                <option value="完了" th:selected="${status == '完了'}">完了</option>
                            </select>
                        </th>
                        <th>作業者</th>
                        <th>タスク名</th>
                        <th>タスク内容</th>
                        <th>開始日</th>
                        <th>完了予定日</th>
                        <th>完了日</th>
                        <th>進捗率</th>
                        <th>メモ</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="t : ${taskList}">
                        <td th:text="${t.status}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.userName}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.taskName}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.taskDetail}" class="taskDetail" th:classappend="' status-' + ${t.status}"></td>
                        <td th:text="${t.startDate}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.dueDate}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.completedDate}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.progress + '%'}" th:class="'status-' + ${t.status}"></td>
                        <td th:text="${t.memo}" class="memo" th:classappend="' status-' + ${t.status}">
                        </td>
                        <td>
                            <div class="action-cell">
                                <a th:href="@{/submitTask(taskId=${t.taskId}, roleName=${roleName})}">
                                    <button type="button">編集</button>
                                </a>
                                <button type="button" th:if="${roleName == 'leader'}" th:data-task-id="${t.taskId}"
                                    onclick="openDeleteModal(this.dataset.taskId)">
                                    削除
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(taskList)}">
                        <td colspan="10" class="empty">
                            タスクがまだありません。登録をお待ちしています
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">

                <!-- 前へ -->
                <a th:if="${currentPage > 0}" th:href="@{/taskList(page=${currentPage - 1}, status=${status})}">
                    ← 前へ
                </a>

                <!-- ページ番号 -->
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/taskList(page=${i}, status=${status})}" th:text="${i + 1}"
                        th:classappend="${i == currentPage} ? 'active' : ''">
                    </a>
                </span>

                <!-- 次へ -->
                <a th:if="${currentPage < totalPages - 1}"
                    th:href="@{/taskList(page=${currentPage + 1}, status=${status})}">
                    次へ →
                </a>

            </div>
        </form>

        <form action="/taskRegister" method="get" th:if="${roleName == 'leader'}" class="top-bar">
            <button type="submit">タスク登録</button>
        </form>
    </div>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p class="modal-text" id="modalMessage"></p>

            <div class="modal-buttons">
                <button class="btn ok" id="modalOk">OK</button>
                <button class="btn cancel" onclick="closeModal()">キャンセル</button>
            </div>
        </div>
    </div>

    <form id="deleteForm" method="post" action="/removeTask">
        <input type="hidden" name="taskId" id="deleteTaskId">
    </form>

    <script th:src="@{/js/taskList.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</body>

</html>