<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>タスク一覧画面</title>
</head>

<body>
    <h2>タスク一覧</h2>

    <div>
        <button type="button" onclick="if(confirm('ログアウトしますか？')) location.href='/logout'">
            ログアウト
        </button>
    </div>

    <table th:if="${!#lists.isEmpty(taskList)}">
        <thead>
            <tr>
                <th>状態</th>
                <th>作業者</th>
                <th>タスク名</th>
                <th>タスク内容</th>
                <th>開始日</th>
                <th>完了予定日</th>
                <th>完了日</th>
                <th>進捗率</th>
                <th>メモ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${taskList}">
                <td th:text="${t.status}"></td>
                <td th:text="${t.userName}"></td>
                <td th:text="${t.taskName}"></td>
                <td th:text="${t.taskDetail}"></td>
                <td th:text="${t.startDate}"></td>
                <td th:text="${t.dueDate}"></td>
                <td th:text="${t.completedDate}"></td>
                <td th:text="${t.progress + '%'}"></td>
                <td th:text="${t.memo}"></td>
                <td>
                    <a th:href="@{/submitTask(taskId=${t.taskId}, roleName=${roleName})}">
                        <button type="button">編集</button>
                    </a>
                </td>
                <td>
                    <form th:action="@{/removeTask}" method="post" th:if="${roleName == 'leader'}"
                        onsubmit="return confirm('本当に削除しますか？');">

                        <input type="hidden" name="taskId" th:value="${t.taskId}" />
                        <button type="submit">削除</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(taskList)}" style="text-align:center; padding:20px;">
        タスクがまだありません。登録をお待ちしています。
    </div>

    <form action="/taskEdit" method="get" th:if="${roleName == 'leader'}">
        <button type="submit">タスク登録</button>
    </form>

</body>

</html>