<!DOCTYPE html>
<html>

<head>
<title>Webエクササイズ</title>
<meta charset="utf-8" name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<!-- CSSの読み込み -->
<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
<link type="text/css" rel="stylesheet" href="./css/gips.css">
<!-- JSの読み込み -->
<script type="text/javascript" src="./js/jquery-3.5.1.min.js" defer="defer"></script>
<script type="text/javascript" src="./js/bootstrap.min.js" defer="defer"></script>
</head>

<body>
	<!-- ヘッダ -->
	<header class="bg-dark">
		<div class="container">
			<nav class="navbar navbar-expand-md no-gutters">
				<div class="col-3 text-left" id="logo">
					<img src="./images/logo.png" height="40" alt="image">
				</div>
				<div class="collapse navbar-collapse navbar-collapse-4 col-md-6"
					id="navbarNav01">
					<ul class="navbar-nav justify-content-center">
					</ul>
				</div>
				<div class="collapse navbar-collapse navbar-collapse-4 col-md-5"
					id="navbarNav02">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="index.html"
							id="linkLogout">ログアウト</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<!-- メッセージ表示 -->
	<div id="message_area"></div>

	<section class="fdb-block py-0 sectionHeight">
		<div class="container my-2">

			<!-- ここにHTMLをかく -->













		</div>
	</section>

	<!-- フッタ -->
	<footer class="fdb-block footer-small bg-dark footer">
		<div class="container">
			<div class="row text-center">
				<div class="col" id="copywrite">
					<p>© 2019 Solid Communication Inc. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
