<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gips.taskapp.mapper.LoginMapper">

	<!-- 一致するログインIDとパスワードを取得する ユーザマスタと権限マスタから必要な情報を受け取る -->
	<select id="findUser" resultType="com.gips.taskapp.dto.UserDto">
		SELECT
		u.login_id AS loginId,
		u.password AS password,
		u.user_name AS userName,
		u.role_id AS roleId,
		r.role_name AS roleName
		FROM users u
		INNER JOIN roles r
		ON u.role_id =
		r.role_id
		WHERE
		u.login_id = #{loginId}
		AND
		u.password =
		#{password}
	</select>
</mapper>